.content{
    margin-top:50px;
}
.floatright{
    float:right;
}
.inline{
    display:inline
}
.pointer{
    cursor:pointer
}
.center{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}