.content{
    margin-top:50px;
}
.floatright{
    float:right;
}
.inline{
    display:inline
}

.post{
    border: 1px solid gray;
    padding :10px;
}

.pointer{
    cursor:pointer;
}

.center{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}